.Numpad{
    position: relative;
	margin: 4px auto;
    display: grid;
	grid-template-columns: repeat(3, 66.5px);
	grid-template-rows: repeat(4, 66.5px);	
	user-select: none;
}

.Numpad :hover{
	color: rgb(255, 255, 255);
	background: rgb(104, 104, 104);
}

.numpadButton{
	justify-content: center;
	align-items: center;
	border: 2px solid  #000;
	border-radius: 10px;
	margin: 1.5px;
	display: flex;
	cursor: pointer;
}

.selectedButton{
	background: rgba(255, 153, 0, 0.555)!important;	
}

.container{
    display: flex;
    flex-direction: row;
	text-align: center;
	position: relative;
}