.Numpad{

    position: relative;
	margin: 4px auto;
    display: grid;
	grid-template-columns: repeat(3, 66.5px);
	grid-template-rows: repeat(4, 66.5px);
	
}

.Numpad .numpadButton{
	background: #fff;
	justify-content: center;
	/*box-sizing: border-box;*/
	border: 2px solid  #000;
	border-radius: 10px;
	margin: 1.5px;
	display: flex;
  	align-items: center;
	cursor: pointer;
	
}
.otherButton{
	background: rgb(255, 255, 255);
	/*box-sizing: border-box;*/
	justify-content: center;
	border: 2px solid  #000;
	border-radius: 10px;
	margin: 1.5px;
	display: flex;
	align-items: center;
	cursor: pointer;
	
}

.container{
	
    display: flex;
    flex-direction: row;
	text-align: center;
	position: relative;

}
